
*.avi
.idea/ACOM.iml
.idea/misc.xml
.idea/misc.xml
.idea/ACOM.iml
.idea/ACOM.iml
.idea/misc.xml
.idea/misc.xml
*.xml
report/~$чет_2 Гордов.docx
report/~$чёт_3 Гордов.docx
*.nii
IZ_3/state1
*.dcm
IZ_3/state_70_30
IZ_3/Untitled.ipynb
*.jpg
